WarningsAsErrors: True
Checks: '*,
    -altera*,
    -bugprone-easily-swappable-parameters,
    -readability-magic-numbers,
    -readability-else-after-return,
    -cppcoreguidelines-avoid-magic-numbers,
    -llvmlibc-restrict-system-libc-headers,
    -llvm-else-after-return,
    -misc-confusable-identifiers
    
    '
CheckOptions:
    readability-identifier-length.IgnoredParameterNames: 'x|y|z'

